{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "target": "es2020"
  },
  "minify": true,
  "module": {
    "type": "commonjs"
  },
  "env": {
    "targets": {
      "electron": "16"
    }
  }
}