.link-card {
  border: 0.5px solid white;
  border-radius: 5px;
  display: flex;
  flex: 1 0 auto;
}

.link-card-image {
  flex: 1;
  width: 6em;
  height: 6em;
  border-radius: 5px 0 0 5px;
  object-fit: cover;
}

.link-card-title {
  flex: 3;
}
