.link-card-anchor:hover {
  text-decoration: none !important;
}

.link-card {
  border: 1px solid rgba(120, 120, 120, 0.6);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 6em;
}

.link-card:hover {
  background-color: rgba(120, 120, 120, 0.15);
}

.link-card-image {
  display: flex;
  width: 6em;
  height: 6em;
  min-width: 6em;
  min-height: 6em;
}

.link-card-image > img {
  width: 6em;
  height: 6em;
  object-fit: cover;
}

.link-card-image > span {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.link-card-image > span::before {
  font-family: "FontAwesome";
  content: "\f15c";
  color: var(--text-color);
  font-size: 2em;
  vertical-align: middle;
}

.link-card-text {
  display: flex;
  flex-direction: column;
  height: 6em;
  justify-content: center;
  padding: 0 var(--12px);
  border-left: 1px solid rgba(120, 120, 120, 0.6);
}

.link-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
  font-size: var(--14px);
  line-height: var(--16px);
  margin-bottom: 5px;
}

.link-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light-text-color);
  font-size: var(--12px);
  line-height: var(--15px);
}
